<p id="sChild_detail">

    <div class="col-sm-12">
        <nav class="pull-right">
            <ul class="pagination">
                <li>
                    <a ng-click="goIndex()"
                       aria-label="Previous">
                        <span class="glyphicon glyphicon-chevron-left"  aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a  ng-click="getData()">
                        <span class="glyphicon glyphicon-refresh"  aria-hidden="true"></span>
                    </a>
                </li>

            </ul>
        </nav>
        <h2>儿童详情</h2>
    </div>
    <div class="col-sm-5">
        <h3>儿童基本信息：</h3>
        <p>id：{{id}}</p>
        <p>名字：{{detailData.child_name}}</p>
        <p>年龄：{{detailData.child_age}}</p>
        <p>视频：{{detailData.child_monitor}}</p>
        <p>创建时间：{{detailData.child_create_time}}</p>
        <p>更新时间：{{detailData.child_update_time}}</p>
    </div>
    <div class="col-sm-5">
        <h3>课程基本信息：</h3>
        <p>学校名：{{detailData.course_name}}</p>
        <p>学校简介：{{detailData.course_school}}</p>
        <p>位置：{{detailData.course_position}}</p>
        <p>课程日期：{{detailData.course_date}}</p>
        <p>课程监控：{{detailData.course_monitor}}</p>
    </div>
    <div class="col-sm-2">
        <p class="col-sm-4">
            <h3>操作：</h3>
            <p>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#update">
                    修改
                </button>

                <!-- Modal -->
                <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="updateLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="updateLabel">修改儿童信息</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">姓名</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="detailData.child_name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">年龄</label>
                                        <div class="col-sm-10">
                                            <input type="text" ng-model="detailData.child_age" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">修改课程</label>
                                        <div class="col-sm-10">
                                            <!--<select class="form-control" ng-model="childCourse">
                                                <option ng-repeat="course in courseData" name="childCourse" value="{{course.course_id}}">
                                                    {{course.course_name}}
                                                </option>
                                            </select>-->
                                            <select class="form-control" ng-model="detailData.child_course" ng-options="course.course_id as course.course_name for course in courseData['data']">
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" ng-click="childUpdate()" data-dismiss="modal" class="btn btn-primary"> 修改 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
            <p>
                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete">
                    <span class="glyphicon glyphicon-trash">删除</span>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="deleteLabel">删除此儿童信息</h4>
                            </div>
                            <div class="modal-body">
                                警告！你将要删除该条儿童信息！是否继续？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" ng-click="childDelete()" data-dismiss="modal" class="btn btn-danger">删除</button>
                            </div>
                        </div>
                    </div>
                </div>
            </p>
        </p>
    </div>
</p>



