<div id="sRequest_detail">

    <div class="col-sm-12">
        <nav class="pull-right">
            <ul class="pagination">
                <li>
                    <a ng-click="goIndex()"
                       aria-label="Previous">
                        <span class="glyphicon glyphicon-chevron-left"  aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a  ng-click="getData()">
                        <span class="glyphicon glyphicon-refresh"  aria-hidden="true"></span>
                    </a>
                </li>

            </ul>
        </nav>
        <h2>账户详情</h2>
    </div>

    <div>
    <table class="table table-hover table-bordered">
        <tr class="info">
            <td><h4>账户id</h4></td>
            <td><h4>账户是否审核</h4></td>
            <td><h4>账户创建时间</h4></td>
            <td><h4>账户更新时间</h4></td>
            <td><h4>账户积分</h4></td>
            <td><h4>操作</h4></td>
        </tr>

        <tr class="active">
            <td> <p>{{id}}</p></td>
            <td><p>{{keywordCheckMap[detailAccountData.account_check]}}</p></td>
            <td> <p>{{detailAccountData.account_create_time}}</p></td>
            <td><p>{{detailAccountData.account_update_time}}</p></td>
            <td><p>{{detailAccountData.account_integration}}</p></td>
            <td><p><button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#update">
                修改
            </button></p></td>
        </tr>
    </table>

        <h2>与此账户相关支付单信息</h2>
        <table class="table table-hover table-bordered">
            <tr class="info">
                <td><h4>支付类型</h4></td>
                <td><h4>支付单状态</h4></td>
                <td><h4>支付金额</h4></td>
                <td><h4>操作</h4></td>
            </tr>

            <tr class="active" ng-repeat="single in detailPaymentData.data">
                <td> <p>{{keywordClassMap[single.payment_class]}}</p></td>
                <td><p>{{keywordStatusMap[single.payment_status]}}</p></td>
                <td> <p>{{single.payment_price}}</p></td>
                <td><button type="button" class="btn btn-sm btn-success">查看详情</button></td>
            </tr>
        </table>
        </div>

</div>

<!-- Modal修改积分-->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">你正在修改此账户的积分</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">账户积分</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="detailAccountData.account_integration">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" ng-click="updateIntegration()">修改</button>
            </div>
        </div>
    </div>
</div>
